.sidetoside{
    display: flex;
    justify-content:space-between;
  
}


.wrap
{
    
   word-break: break-word;
  
   
    
}

.link{
    cursor: pointer;
}



.filter
{
    max-width: 32%;
    float: right;
    
}

.search-box{
    display: flex;
    justify-content: flex-end;
    gap: 1.5%;
   
}

.wrap1{
    max-width: 30%;
    display: flex;
    justify-content: flex-end;
}



*{
    font-size: 1.6vmin;
    
}
